@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html,
  body {
    background-color: #f9fafb;
    color: #111827;
  }
  html.dark,
  html.dark body {
    background-color: #111827;
    color: #f9fafb;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
